name: Arduino CI

on: [push, pull_request]

jobs:
  compile:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: arduino/setup-arduino-cli@v1
    - run: |
        arduino-cli core update-index --additional-urls https://espressif.github.io/arduino-esp32/package_esp32_index.json
        arduino-cli core install esp32:esp32
        arduino-cli lib install ArduinoJson
    - uses: ArminJo/arduino-test-compile@master
      with:
        sketch-path: src/main.ino
        fqbn: esp32:esp32:esp32
